.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .avatar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        img {
            border-radius: 50%;
        }
    }
}
