<div class="custom-container">
  <aside class="nav">
    <mat-toolbar>
      <div class="search-container">
        <label for="input-search">
          <input type="text" id="input-search" placeholder="Buscar por nome, código ou email" class="input-lg">
        </label>
        <button mat-button><i class="icon icon-search"></i></button>
      </div>
    </mat-toolbar>
    <!-- two line list -->
    <ng-container *ngFor="let cliente of clientes">
      <app-client-list [cliente]="cliente"></app-client-list>
    </ng-container>
  </aside>

  <main class="main">
    <header>
      <mat-toolbar>
        <h3 class="title">Fidelidade</h3>
      </mat-toolbar>
    </header>
    <div class="content">
      <nav mat-tab-nav-bar class="client-tab-group">
        <a mat-tab-link
           [routerLink]="'/transacoes'"
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive">
          TRANSAÇÕES
        </a>
        <a mat-tab-link
           [routerLink]="'/beneficios'"
           routerLinkActive #rla1="routerLinkActive"
           [active]="rla1.isActive">
          BENEFÍCIOS
        </a>
        <a mat-tab-link
           [routerLink]="'/historico'"
           routerLinkActive #rla2="routerLinkActive"
           [active]="rla2.isActive">
          HISTÓRICO
        </a>
      </nav>
      <div class="sub-header">
        <mat-toolbar>
          <ul class="status">
            <li *ngFor="let label of labels">
              <app-status-item [statusLabel]="label" [valor]="mapLabels[label]"></app-status-item>
            </li>
          </ul>
        </mat-toolbar>
      </div>
      <section class="demo-tab-content">
        <router-outlet></router-outlet>
      </section>
    </div>
  </main>
</div>
