<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form [formGroup]="form" class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput formControlName="nome" placeholder="Nome">
          <mat-error *ngIf="form.get('usuario').hasError">Informe o nome</mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput formControlName="usuario" placeholder="Usuário">
          <mat-error *ngIf="form.get('usuario').hasError">Informe o usuário</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput formControlName="email" placeholder="Email">
          <mat-error *ngIf="form.get('usuario').hasError">Informe o e-mail</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput appCpfFormat formControlName="cpf" placeholder="CPF">
          <mat-error *ngIf="form.get('cpf').hasError">{{form.get('cpf').getError('data')}}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput formControlName="senha" placeholder="Senha">
          <mat-error *ngIf="form.get('usuario').hasError">Informe a senha</mat-error>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button type="submit" color="primary" class="btn-block">Register</button>
    </form>
  </mat-card>
</div>
